/* boxwood.css */

wg[class=cl] {
  /* 
    The nub of the spacing problem: 
  
    You really want spacing down to the last role before a word.
    After that, you really don't want it.  Is there some way to
    have it both ways with .css?
  */
  /*
  position: relative;
  display: block; 
  */
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  display: block;

  border-left: 1px inset lightgrey;
  border-top: 1px inset lightgrey;
  border-bottom: 1px inset lightgrey; 
}

/* ### Labels and positioning for clauses with roles ### */

wg[class=cl][role]::before {
/*  position: absolute;
  right: 100%; top: 0;
  width: 1em; */
}

wg[class=cl][role] {
  padding-left: 2em;
}


sentence>wg[class="cl"] {
  border-left: none;
  border-top: none;
  border-bottom: none;   
}
