wg[class=header] {
    display: block;
    position: fixed;
    width=6em;
    top: 5px;
    left: 15px;
    background-color: white;
    opacity: 1;
    overflow: scroll;
}

milestone {
    font-size: small; 
    color: blue;
    display: block;
}

p {
    font-size: large;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

div[class=book]  {
  margin-top: 1in;
  margin-left: 1in;
  margin-bottom: 1in;
  line-height: 1.2;
  background-color: white;
  opacity: 1;
}

book, passage,root {
  line-height: 1.5;
  margin-left: 5em;
  margin-right: 10em;
  /* background: linen; */
}



/*
  Only list rules I am willing to describe and defend ...
*/

/* WGs */

wg[class=sentence] {
} 

wg[class=sentence] wg[class=cl]::before {
  content: "";
}

wg[class=cl] {
  /* 
    The nub of the spacing problem: 
  
    You really want spacing down to the last role before a word.
    After that, you really don't want it.  Is there some way to
    have it both ways with .css?
  */
  /*
  position: relative;
  display: block; 
  */
  padding-left: 1.8em;
  display: block;
}

wg[role]::before {
  color: grey;
  content: attr(role);
  size: small;
}

wg[role] {
    position: relative;
    display: block;  
}
  
/* Words */

w[role=v][mood=participle]::before {
  color: grey;
  content: "v.part ";
  size: small;
}

w[role=v][mood=infinitive]::before {
  color: grey;
  content: "v.inf ";
  size: small;
}

w[role]::before {
  color: grey;
  content: attr(role) " ";
  size: small;
}

w[discontinuous]::after {
  content: "*";
  vertical-align: super;
  color: grey;
  size: x-small;
}

wg[class=cl] w[class=conj] {
 /* 
    Conjunctions are hard to get right with .css
    alone.  It's important to know if it is coordinating
    or subordinating, and whether it lives as a sibling
    to things that have roles.

  display: block;   
  
  */  
}

w[case=vocative]::before {
  color: grey;
  content: "voc ";
  size: small;
}

w[case=vocative] {
    position: relative; 
    display: block;
    padding-left: 1em;
}


w[role] {
    position: relative;
    display: block; 
}

/* -----  Experimental stuff goes here -------- */

/*

This is not specific enough to accurately identify parataxis, so I am commenting it out. 
It currently causes more harm than good for the casual reader, but it is useful as
a diagnostic.

wg:not(role)+wg:not(role)::before {
    content: '- -';
    display: block;
}


*/

